.table-xs > :not(caption) > * > * {
    padding: .125rem .125rem;
}
  
.table>:not(caption)>*>*.bg-g0, .bg-g0 {
    color: #fff;
    background-color: #4d4b46;
}

.table>:not(caption)>*>*.bg-g1, .bg-g1 {
    color: #000;
    background-color: #ffc107;
}

.table>:not(caption)>*>*.bg-g2, .bg-g2 {
    color: #000;
    background-color: #fd7e14;
}

.table>:not(caption)>*>*.bg-g3, .bg-g3 {
    color: #fff;
    background-color: #dc3545;
}

.table>:not(caption)>*>*.bg-g4, .bg-g4 {
    color: #fff;
    background-color: #198754;
}

.table>:not(caption)>*>*.bg-g5, .bg-g5 {
    color: #fff;
    background-color: #d63384;
}

.table>:not(caption)>*>*.bg-g6, .bg-g6 {
color: #fff;
    background-color: #0d6efd;
}

.grey-panel {
    position: fixed;
    left: 0;
    top: calc(50% - 125px);
    height: 250px;
}

.grey-panel .grey-header {
    background: #ccd1d9;
    padding: 3px;
    margin-bottom: 15px;
  }

.grey-panel .card-body {
    overflow-y: scroll;
}

.gearList li {
    width: 20px;
    font-size: 10px;
    display: inline-block;
}